* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  color: rgb(242, 240, 255);
  text-decoration:none;
  font-weight: 600;
  text-align: left;
  justify-content: center;
  
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar a {
  font-size: 18px;
  color: azure;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: rgba(117, 183, 236, 0.979);
}
.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  gap: 50px;
}

.home-content {
  max-width: 600px;
  text-align: left;
}

.home-content h1 {
  font-size: 57px;
  font-weight: 700;
  background:linear-gradient(90deg,white,rgb(0, 174, 255));
  background-clip: text;
  color: transparent;


  

}

.home-content h3 {
  font-size: 32px;  
  font-weight: 700;
  color: skyblue;
}

.home-content p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 10px;
   text-shadow: 2px 2px 2px rgb(15, 0, 0);
   align-items: center;

}

.home-content .btn-box {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn-box a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid black;
  background-color: rgb(135, 220, 235);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: white;
}

.btn-box a:hover {
  transform: scale(1.1);
}


.profile-pic {
  flex-shrink: 0;
}

.profile-pic img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid skyblue;
  object-fit: cover;
  box-shadow: 0 0 25px rgba(135, 235, 213, 0.5);
}

.vid {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.vid video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
  background-blend-mode: darken;
}

.container {
  width: 80%;
  height: 400px;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.con {
  background: rgba(0, 0, 0, 0.5);
  padding: 15px 20px;
  border-radius: 10px;
  display: inline-block;
}



    
